.whole{
    width:1200px;
    height:600px;
}
.password{
    width:1000px;
    height:400px;
    margin:370px;
    background-color:white;
}
.bimilbunho input{
    width:500px;
    height:50px;
    border-color: black;
}

.password .ipryeok{
    height:40px;
    width:100px;
}
