.main-body__signup {
  background-color: #d1ccc0;
}

.main-body__signup .signup-btn {
  font-family: "Jua",sans-serif;
  /* background-color : #e6d5c3; */
  background-color : var(--colorWhite);
  font-size: 16px;
  width: 80px;
  height: 40px;
  border-radius: 3px;
  box-shadow: 2px 1px 2px #c9c7c2;
  cursor: pointer;
}
input {
  -webkit-appearance: none;
}

.main-body__signup .address-btn{
  font-family: "Jua",sans-serif;
  box-shadow: 2px 1px 2px #c9c7c2;
  display:block;
  width: 90px;
  height: 35px;
  font-size: 14px;
  margin : 10px 0px;
  border-radius: 3px;
  background-color : var(--colorWhite);
}

.main-body__signup .login-box__input{
  display: flex;
  width:80%;
}

.main-body__signup .login-box__title{
  width:80%;
}

.main-body__signup .login-box__email{
  width: 80%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.main-body__signup .login-box__email .login-input{
  margin:0px;
  width: 70%;
}

.main-body__signup .login-box__address{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-box__address .address-text{
  margin:5px 7px;
  font-weight: 400;
  font-size: 0.9em;
}

.main-body__signup .login-zipcode .zipcode-items{
  display: inline;
  margin-right : 5px;
  margin-bottom : 0px;
}

.main-body__signup .login-zipcode .login-input{
  width: 15%; 
  height: 30px;
}

.main-body__signup .login-box__address .address-basic{
  padding : 20px;
  height: 40px;
  resize:none;
  vertical-align: middle;
}